body{
  margin: 0;
  text-align: center;
  background-color: #a6d6d6;
  padding-top: 40px;
}
h1{
  font-size: 5.6rem;
margin: 0 auto;
font-family: 'Sacramento' ,cursive;
}
h2{
  font-size: 5.2rem;
  font-family: 'montserrat',sans-serif;
}
h3{

  font-family: 'montserrat',sans-serif;
}
.cloud1{
position:static;
  right: 450;
  top: 200;
}
.cloud2{
  position: absolute;
  left: 300;
  bottom: 300;
}
.Avatar {
  vertical-align: middle;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
